<div class="container my-4">
    <div class="alert alert-danger">
        <h4 class="alert-heading">Error {{error.status}}</h4>
        <p>{{message}}</p>
        <hr>
        <p class="mb-0">
            <a href="/" class="btn btn-primary">Return to Home</a>
        </p>
    </div>
</div> 